@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500&display=swap");

:root {
      
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  --primary: #e5e8ef;
  --primary-dark: #e1e4ea;
  --secondary-lime: #e1ff2d;
  --secondary-lavender: #d3b7f8;
  --primary-box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.395), -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  --secondary-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    --box-shadow: 4px 4px 6px 0 rgba(177, 220, 238, 0.5),
    -4px -4px 6px 0 rgba(145, 159, 177, 0.2),
    inset -4px -4px 6px 0 rgba(191, 175, 175, 0.5),
    inset 4px 4px 6px 0 rgba(171, 180, 189, 0.3);
  --font: "Nunito Sans", sans-serif;
 --shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white)
}

body {
background: -webkit-linear-gradient(0deg, #f0ece9 0%, #c1cecc 100%);
background: linear-gradient(0deg, #f0ece9 0%, #c1cecc 100%);
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: "Nunito Sans", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  border-radius: 20px;
  background: linear-gradient(145deg, #f1f4fa, #cbcdd3);
  box-shadow: var(--primary-box-shadow);
  height: 560px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  height: 32px;
  border-radius: 10px;
  background: linear-gradient(145deg, #f1f4fa, #cbcdd3);
  outline: none;
  font-family: "Nunito Sans", sans-serif;
}

input[type="text"],input[type="email"],
input[type="password"] {
  box-shadow: var(--secondary-box-shadow);
  padding-inline: 20px;
  height: 49px;
  width: 60%;
}
input[type="submit"] {
  box-shadow: var(--secondary-box-shadow);
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 0.8px;
  height: 50px;
  font-size: 1rem;
  color: #666ba7;
  position: relative;
  z-index: 100;
  width: 100%;
}
#title {
  color: #000000;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1;
  letter-spacing: 0.8px;
}
#linksParent {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}
#linksParent > span> a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8rem;
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}
#linksParent > a {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.8rem;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

#button {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
p{
    color: #5f5b65;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    opacity: 6;
}
h1{
 
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#linksParent > span{
    color: #5f5b65;
    font-size: 0.8em;
    text-decoration: none;
    
}